<ion-tabs>
  <ion-tab-bar slot="bottom">
    <div class="tabs-container">
      <ion-tab-button tab="live-scanning" mode="ios">
        <ion-icon name="radio"></ion-icon>
        Live
      </ion-tab-button>
      <ion-tab-button tab="threat-detection" mode="ios">
        <ion-icon name="warning"></ion-icon>
        Threats
      </ion-tab-button>
      <ion-tab-button tab="settings" mode="ios">
        <ion-icon name="settings"></ion-icon>
        Settings
      </ion-tab-button>
    </div>
  </ion-tab-bar>
</ion-tabs>
